@define-color color_bg #24283b;
@define-color color_bg_dark #1f2335;
@define-color color_bg_highlight #292e42;
@define-color color_blue #7aa2f7;
@define-color color_blue0 #3d59a1;
@define-color color_blue1 #2ac3de;
@define-color color_blue2 #0db9d7;
@define-color color_blue5 #89ddff;
@define-color color_blue6 #b4f9f8;
@define-color color_blue7 #394b70;
@define-color color_comment #565f89;
@define-color color_cyan #7dcfff;
@define-color color_dark3 #545c7e;
@define-color color_dark5 #737aa2;
@define-color color_fg #dfdfe0;
/* @define-color color_fg #c0caf5; */
@define-color color_fg_dark #a9b1d6;
@define-color color_fg_gutter #3b4261;
@define-color color_green #9ece6a;
@define-color color_green1 #73daca;
@define-color color_green2 #41a6b5;
@define-color color_magenta #bb9af7;
@define-color color_magenta2 #ff007c;
@define-color color_orange #ff9e64;
@define-color color_purple #9d7cd8;
@define-color color_red #f7768e;
@define-color color_red1 #db4b4b;
@define-color color_teal #1abc9c;
@define-color color_terminal_black #414868;
@define-color color_yellow #e0af68;
@define-color bar_bg rgba(0, 0, 0, 0);

* {
    border: none;
    border-radius: 0px;
    font-family: "Inter Display,MonoLisa Nerd Font";
    /* font-weight: bold; */
    font-size: 16px;
    min-height: 21px;
}

window#waybar {
    background: @bar_bg;
    border-radius: 7px;
}

tooltip {
    background: @color_bg;
    color: #c0caf5;
    border-radius: 8px;
    border-width: 0px;
}

#window {
    background: @color_bg;
    color: @color_fg;
    opacity: 1;
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;

}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 0px;
    color: @color_fg;
    animation: ws_normal 20s ease-in-out 1;
}

/* #workspaces button.persistent{ */
/*     color: #EBDDBC; */
/* } */

#workspaces button.active {
    /* background: #2B2F38; */
    color: @color_blue;
    /* margin-left: 1px; 
    padding-left: 4px;
    padding-right: 8px;
    margin-right: 1px; */
    animation: ws_active 20s ease-in-out 1;
    /* transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682); */
}

/* #workspaces button.persistent:nth-child(2){ */
/*     color: #EAB2C2; */
/* } */
/**/
/* #workspaces button.persistent:nth-child(3){ */
/*     color: #83A6BF; */
/* } */

#workspaces button:hover {
    /* background: @wb-hvr-bg; */
    color: @color_magenta;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default,
#custom-launcher,
#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    background: @color_bg;
    color: @color_fg;
    opacity: 1;
    margin: 6px 0px 6px 0px;
    padding-left: 4px;
    padding-right: 4px;

}

#custom-weather {
    color: @color_fg;
}

#custom-weather.severe {
    color: @color_orange;
}

#custom-weather.sunnyDay {
    color: @color_yellow;
}

#custom-weather.clearNight {
    color: @color_blue0;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
    color: @color_blue5;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
    color: @color_blue6;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
    color: @color_blue5;
}

#custom-weather.default {
    color: @color_fg;
}


#tray menu * {
    color: @color_purple;
}

#custom-cpuinfo,
#custom-gpuinfo,
#backlight,
#battery {
    padding-right: 10px;
    color: @color_fg;
}

#custom-updates,
#custom-power,
#memory,
#clock,
#idle_inhibitor {
    color: @color_fg;
}

#custom-power {
    padding-right: 8px;
}

#network,
#blueooth,
#cpu {
    color: @color_fg;
}


#pulseaudio {
    color: @color_fg;
    padding-right: 10px;
}


#idle_inhibitor {
    padding-right: 10px;
}

#custom-launcher {
    color: @bar_bg;
    background: #EAB2C2;
    padding-right: 15px;
    font-size: 17px;
    padding-left: 12px;
    border-radius: 5px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px 5px 5px 0px;
    margin-right: 4px;
    padding-right: 0px;
}

#custom-l_end {
    border-radius: 5px 0px 0px 5px;
    margin-left: 4px;
    padding-left: 0px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 4px;
    padding-right: 0px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 4px;
    padding-left: 0px;
}

#custom-rr_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 4px;
    padding-right: 0px;
}

#custom-rl_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 4px;
    padding-left: 0px;
}
