* {
  border: none;
  border-radius: 0;
  /* font-family: MonoLisa Nerd Font; */
  font-family: Cantarell, Symbols Nerd Font;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

#workspaces {
  background-color: #24283b;
  border-radius: 5px;
  /* padding: 5px; */
  /* margin: 5px 0px 0px 5px; */
}
#workspaces button {
  padding: 5px 10px;
  background: #24283b;
  color: #c0caf5;
}

#workspaces button.active {
  color: #24283b;
  background: #7aa2f7;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #24283b;
  background: #7aa2f7;
  border-radius: 5px;
}

#workspaces button.urgent {
  color: #24283b;
  background: #bb9af7;
  border-radius: 5px;
}

#window {
  /* background-color: #24283b; */
  border-radius: 5px;
  /* padding: 5px 10px; */
  /* margin: 5px; */
  background-color: #24283b;
  padding: 5px 10px;
}

#submap {
  background-color: #24283b;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

#clock,
#battery,
#network,
#disk,
#cpu,
#temperature,
#memory {
  background-color: #24283b;
  padding: 5px 10px;
  margin: 0px 0px 0px 0px;
}

#backlight,
#custom-notify,
#idle_inhibitor,
#custom-bluetooth,
#custom-tailscale,
#custom-power,
#cava,
#mpris,
#custom-mic {
  background-color: #24283b;
  padding: 5px 10px;
}

#mpris {
  border-radius: 5px;
  margin: 0px 0px 0px 5px;
}

#idle_inhibitor.activated {
  color: #24283b;
  background: #bb9af7;
  border-radius: 5px;
}

#tray {
  background-color: #24283b;
  padding: 5px 10px;
  border-radius: 5px;
}

#custom-tailscale.ok {
  border-radius: 5px 0px 0px 5px;
  background-color: #7aa2f7;
  border-radius: 5px;
  color: #24283b;
}

#custom-mic.ok {
  background-color: #f7768e;
  border-radius: 5px;
  color: #24283b;
}

#backlight {
  border-radius: 0px 5px 5px 0px;
}

/* #custom-mic.ok { */
/*   background-color: #f7768e; */
/*   color: #24283b; */
/*   border-radius: 5px 5px 5px 5px; */
/* } */

/* #custom-tailscale.ok { */
/* background-color: #7aa2f7; */
/*   color: #24283b; */
/*   border-radius: 5px 5px 5px 5px; */
/* } */

#custom-separator {
  /* margin: 5px 0px 0px 0px; */
  /* background-color: #24283b; */
}

#clock {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 5px 0px 0px 5px;
}

#custom-date {
  color: #24283b;
  background-color: #7aa2f7;
  border-radius: 0px 5px 5px 0px;
  margin: 0px 5px 0px 0px;
  padding: 0px 10px;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin: 0px 5px 0px 0px;
}

#cpu {
  border-radius: 5px;
}

#memory,
#network,
#battery,
#temperature,
#disk {
  border-radius: 5px;
}

#temperature.critical {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px;
}

#battery.charging {
  background-color: #9ece6a;
  color: #24283b;
  border-radius: 5px;
}

#battery.critical {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px;
}

#battery.warning:not(.charging) {
  background-color: #e0af68;
  color: #24283b;
  border-radius: 5px;
}

#memory.critical {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px;
}

#memory.warning {
  background-color: #e0af68;
  color: #24283b;
  border-radius: 5px;
}

#cpu.sun {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px;
}

#cpu.hot {
  background-color: #ff9e64;
  color: #24283b;
  border-radius: 5px;
}

#cpu.warm {
  background-color: #e0af68;
  color: #24283b;
  border-radius: 5px;
}

#cpu.cool {
  background-color: #a9b1d6;
  color: #24283b;
  border-radius: 5px;
}
