# language build
gradle latest
meson latest
ninja latest

# language runtimes
python 3.11.6
java corretto-17
golang 1.20.6
node 20.9.0
ruby 3.2.2

# tools
neovim nightly
fzf latest
gitui latest
lazygit latest
awscli latest
