[Desktop Entry]
Name=Neovim
Comment=Open file with Neovim in Kitty terminal
Exec=/home/bigo/.nix-profile/bin/kitty -e nvim %f
Terminal=false
Type=Application
Icon=io.neovim.nvim
MimeType=text/plain;
