[Desktop Entry]
Type=Application
Icon=io.neovim.nvim
Name=NeoVim
Name[en]=NeoVim
Name[en_GB]=NeoVim
Name[en_GB.UTF-8]=NeoVim
Comment=Open NeVim
Comment[en]=Open NeVim
Comment[en_GB]=Open NeVim
Comment[en_GB.UTF-8]=Open NeVim
Keywords=editor
Keywords[en]=editor
Keywords[en_GB]=editor
Keywords[en_GB.UTF-8]=editor
Exec=/home/bigo/.bin/ide %f
Hidden=false
NoDisplay=false
StartupNotify=false
Terminal=false

