[Desktop Entry]
Type=Application
Exec=/home/bigo/.bin/focus-switch startup
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_GB]=Fix startup focus
Name=Fix startup focus
Comment[en_GB]=
Comment=
