[Unit]
Description=Cronopete backup
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/cronopete
Restart=always

[Install]
WantedBy=graphical-session.target
