[Unit]
Description=Gnome flashback 
PartOf=graphical-session.target
After=dunst.service

[Service]
ExecStart=/usr/bin/gnome-flashback
ExecStopPost=/bin/systemctl --user stop graphical-session.target
Restart=always

[Install]
WantedBy=graphical-session.target
