[Unit]
Description=Gotify-Dunst
After=network.target

[Service]
WorkingDirectory=/home/bigo/github/gotify-dunst
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
