[Unit]
Description=Gotify-Dunst
After=network.target

[Service]
WorkingDirectory=/home/ANT.AMAZON.COM/matbigoi/github/gotify-dunst
ExecStart=/usr/bin/python3 main.py irc
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
