[Unit]
Description=Videoconf management 
PartOf=graphical-session.target

[Service]
ExecStart=/home/bigo/.bin/i3chime
Restart=always

[Install]
WantedBy=graphical-session.target
