[Unit]
Description=Block notification when locked

StartLimitIntervalSec=15s
StartLimitBurst=3

[Service]
ExecStart=/home/ANT.AMAZON.COM/matbigoi/.bin/i3notify-lock
Restart=on-failure
RestartSec=0ms

[Install]
WantedBy=default.target
