[Unit]
Description=Startup windows 
PartOf=graphical-session.target

[Service]
ExecStart=/home/bigo/.bin/i3monitor startup
ExecStopPost=/bin/systemctl --user stop graphical-session.target
Restart=always

[Install]
RequiredBy=wm.target
