[Unit]
Description=Touchpad Indicator tray applet
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/touchpad-indicator
Restart=always

[Install]
WantedBy=graphical-session.target
