[Unit]
Description=Hide pointer
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/unclutter --ignore-scrolling
Restart=always

[Install]
WantedBy=graphical-session.target
